* {
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  background: darkseagreen;
  font-family: "Raleway", "sans-serif";
  width: 100%;
}

.encabezado {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  height: 70px;
  line-height: 1.5rem;
}

.encabezado__logo__container {
  display: flex;
  align-items: center;
}

.encabezado__logo__img {
  height: 1.3rem;
  width: 1.5rem;
  margin: 0.50rem 0 0 1rem;
}

.encabezado__logo.titulo__1 {
  margin-left: 0.2rem;
  color: #2a7ae4;
  font-weight: 600;
  font-size: 1rem;
}

.encabezado__logo.titulo__2 {
  font-weight: 500;
  font-size: 1rem;
}

.input__search__container {
  display: none;
}

.box {
  align-items: center;
  border: 2px solid #2a7ae4;
  color: #2a7ae4;
  display: flex;
  height: 2.4rem;
  font-size: 0.9rem;
  overflow: auto;
}

.box__titulo {
  margin: 0 1rem 0 1rem;
  color: #2a7ae4;
  white-space: nowrap;
}

.lupa {
  height: 1rem;
  width: 1rem;
  margin: 0.50rem 1rem 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title__container {
  width: calc(100vw - 2rem);
}

.form__title {
  font-size: 22px;
  margin: 2rem 11.5rem 1rem 0;
  white-space: nowrap;
  color: #464646;
  font-weight: bold;
}

.input__container,
.textarea__container {
  margin-bottom: 0.5rem;
  border: #c8c8c8 solid;
  position: relative;
  color: #a2a2a2;
  width: calc(100vw - 2rem);
}

.input {
  width: 100%;
  background: #ffffff;
  height: 3rem;
  padding: 1rem 0 0 0.3rem;
  border: none;
}

.input__label {
  position: absolute;
  inset: 0;
  top: 0.3rem;
  left: 0.5rem;
  height: 1rem;
}

.input__textarea {
  position: relative;
  padding: 1.5rem 0 0 0rem;
  width: 100%;
}

.label__textarea {
  position: absolute;
  inset: 0;
  top: 0.3rem;
  left: 0.5rem;
  height: 1rem;
}

.form__btn {
  color: #ffffff;
  background: #2a7ae4;
  border: none;
  height: 3rem;
  width: calc(100vw - 2rem);
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__content__container {
  margin-bottom: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #464646;
  font-size: 16px;
}

.about__content {
  margin-bottom: 1rem;
}

.about__title__container { 
  display: flex;
  margin: 2rem 0 1rem 0;
}
.about__logo__img {
  height: 2rem;
  width: 2.7rem;
}
.about__logo.titulo__1 {
  margin-left: 0.2rem;
  color: #2a7ae4;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.about__logo.titulo__2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.form.contacto {
  margin-top: -2rem;
}

.form__title.contact {
  margin: 2 0 1rem 0;
  font-size: 16px;
}

.form__btn.btn__submit {
  width: 9rem;
  margin-bottom: 1rem;
}
.footer__rodape {
  color: #464646;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  height: 70px;
}

.footer__content.item__1{
  margin: 0.5rem 0 0rem 0;
}

.footer__content.item__2{
  margin: 0 0 0.5rem 0;
}

@media only screen and (min-width: 768px) {
  .encabezado {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .encabezado__container {
    display: flex;
    align-items: center;
  }

  .input__search__container {
    display: flex;
    margin-left: 3rem;
  }

  .encabezado__logo.titulo__1, .encabezado__logo.titulo__2{
    font-size: 1.1rem;
  }

  .encabezado__logo.titulo__2 {
    margin-left: 0.1rem;
  }

  .input__search {
    border: 1px none;
    border-radius: 1rem;
    background: #f5f5f5;
    height: 2rem;
    width: 14rem;
    position: relative;
    padding: 0.1rem 0 0.2rem 0.5rem;
  }

  .input__search::placeholder {
    padding: 0.1rem 0 0.7rem 0.5rem;
    font-size: 0.9rem;
    margin: 0.3rem 0 0 0;
    position: absolute;
  }

  .label__img {
    position: absolute;
    margin: 0.5rem 0 0 12rem;
  }

  .box {
    margin-right: 1rem;
    border: none;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    height: 2rem;
    position: relative;
    width: 50rem;
  }

  .box__titulo {
    border: #2a7ae4 solid;
    width: 11rem;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 2rem;
    padding-top: 0.1rem;
    margin: 0;
  }
  
  .lupa {
    display: none;
  }
  
  .contacto__container {
    display: flex;
    margin: 1rem 0 0 0;
    width: calc(100vw - 1rem);
    overflow: hidden;
  }

  .about {
    display: inline-block;
    margin: 1rem;
  }

  .about__title__container {
    margin: 1rem 1.7rem 1rem 0;
  }

  .about__logo__img {
    width: 1.7rem;
    height: 1.5rem;
  }

  .about__logo.titulo__1,
  .about__logo.titulo__2 {
    font-size: 1.5rem;
  }

  .about__content__container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .form__contacto__container {
    margin: 0 0 4rem 0;
  }
  .form__title.contact {
    margin: 2.7rem 0 0.5rem 0;
  } 

  .input__container.contact,
  .textarea__container.contact {
    width: calc(100vw - 13rem);
  }

  .input__textarea.contact {
    height: 5rem;
  }

  .footer__rodape{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .encabezado__container{
    margin-left: 6rem;
  } 

  .input__search__container{
    margin-left: 1.5rem;
  }
  
  .input__search{
    width: 17rem;
  }

  .label__img{
    padding-left: 3rem;
  }

  .box{
    margin-right: 6rem;
  }

  .form{
    overflow: hidden;
  }

  .form__title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3.2rem;
  }

  .form__title{
    font-size: 32px;
  }

  .form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input__container, .textarea__container{
    width: 30rem;
  }
  
  .form__btn{
    width: 30rem;
  }

  .contacto__container{
    align-items: flex-start;
    justify-content: center;
    width: auto;
  }

  .about{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  } 

  .about__title__container{
    margin: 0 4rem 0 0;
  }

  .about__content__container{
    width: 12rem;
    gap: 0.50rem;
    margin: 0.26rem 0 0 0;
  }

  .form__contacto__container{
    margin: 0 0 4rem 0;
    width: 26.6rem;
  }

  .form__title__container.contact{
    justify-content: start;
    height: 4.5rem;
    display:inline-block;
    margin: 0;
  }

  .form__container.contact{
    align-items: flex-start;
  }

  .input__container.contact,
  .textarea__container.contact {
    width: calc(100vw - 35rem);
    max-width: 400px;
  }

}


