.box.main {
  display: none;
}

.form{
  margin: 1rem 0 1rem 0;
}

.form__title.main {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  font-size: 18px;
}

.form__container.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__container.main,
.textarea__container.main   {
  display: inline-block;
  width: 15rem;
  min-width: calc(55vw - 2rem);
  min-width: calc(55% - 2rem);
}

.generic__btn {
  width: 8rem;
  margin-top: 0.2rem;
}

@media only screen and (min-width: 768px) {

  .about__title__container{
    margin: 2rem 1.7rem 1rem 0;
  }
  .form{
    margin: 2rem 0 2rem 0;
  }

  .contacto__container{
    height: 20rem;
    margin: 7rem 0px 7rem;
  } 
  .form__contacto__container{
    margin: 0;
  }

  .form__container.contact{
    width: calc(100vw - 19rem);
  }

  .input__container.contact,
  .textarea__container.contact {
    width: calc(100vw - 19.5rem);
  }
}

@media only screen and (min-width: 992px) {
  .about{
    margin: initial;
    gap: 3rem;
    margin-left: 3rem;
  }

  .form.contacto{
    margin: 0 0 4rem 0;
  }

  .about__title__container {
    margin:0;
}
  .contacto__container{
    align-items: center;
  }

  .form__title__container{
    margin: auto;
  }


  .form__container.contact{
    width: 36vw;
  }

  .input__container.contact,
  .textarea__container.contact {
    width: inherit;
  }
}  

