.contact.item{
  margin-bottom: 1rem;
}

.contacto__container{
  background: #eaf2fd;
}


@media only screen and (min-width: 768px) {
  .contact.item{
    margin-bottom: 0;
  }

  .contacto__container {
    display: flex;
    margin: 3rem 0 1rem 0;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992px) {
  .contacto__container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
  }

  .contacto__container.item{
    margin: 1rem 0 1rem 0;
    height: 24.5rem;
  }
}
