
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.form.main{
  height: 39.5vh;
  margin-bottom: 0.5rem;
}

.form__title__container {
  width: calc(100vw - 2rem);
}

.form__title {
  font-size: 21px;
  margin: 2rem 0 1em 0;
  white-space: nowrap;
  color: #464646;
  font-weight: bold;
}

.input__container,
.textarea__container {
  margin-bottom: 0.5rem;
  border: #c8c8c8 solid;
  position: relative;
  color: #a2a2a2;
  width: calc(100vw - 2rem);
}

.input {
  width: 100%;
  background: #ffffff;
  height: 3rem;
  padding: 1rem 0 0 0.3rem;
  border: none;
}

.input__label {
  position: absolute;
  inset: 0;
  top: 0.3rem;
  left: 0.5rem;
  height: 1rem;
}

.input__textarea {
  position: relative;
  padding: 1.5rem 0 0 0rem;
  width: 100%;
  height: 5rem;
  border: transparent;
  resize: none;
}

.label__textarea {
  position: absolute;
  inset: 0;
  top: 0.3rem;
  left: 0.5rem;
  height: 1rem;
}

.generic__btn {
  color: #ffffff;
  background: #2a7ae4;
  border: none;
  height: 40px;
  width: calc(100vw - 2rem);
  font-size: 14px;
}

.btn__container.main{
  display: flex;
  justify-content: center;
}

.generic__btn.main{
  width: 8rem;
}

.form__title.main {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  font-size: 18px;
}

.form__container.main{
  display: flex;
  flex-direction: column;
}

.input__container.main,
.textarea__container.main   {
  display: inline-block;
  width: 15rem;
  min-width: calc(55vw - 2rem);
  min-width: calc(55% - 2rem);
}

@media only screen and (min-width: 768px) {
  .form__container.contact.main{
    width: calc(100vw - 18rem);
  }
}

@media only screen and (min-width: 992px) {

  .form.main{
    height: 41.5vh;
    margin-bottom: 0.5rem;
  }

  .form__title__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form__title {
    font-size: 32px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input__container,
  .textarea__container {
    width: 30rem;
  }

  .generic__btn {
    width: 30rem;
  }
}
