.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about__content__container {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 1rem;
}

.about__title__container {
  display: flex;
  margin: 2rem 0 1rem 0;
}

.about__logo__img {
  height: 2rem;
  width: 2.7rem;
}
.about__logo.titulo__1 {
  margin-left: 0.2rem;
  color: #2a7ae4;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.about__logo.titulo__2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

@media only screen and (min-width: 768px) {
  .about {
    margin: 0 3.5rem 0 1rem;
    align-items: center;
  }

  .about.main{
    margin: 0 3.5rem 0 1.5rem;
  }

  .about__title__container {
    margin: 0 1.7rem 1rem 0;
  }

  .about__title__container.main{
    margin: 0 1rem 1rem 0;
  }

  .about__logo__img {
    width: 1.7rem;
    height: 1.5rem;
  }

  .about__logo.titulo__1,
  .about__logo.titulo__2 {
    font-size: 1.5rem;
  }

  .about__content__container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 1.9rem;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .about__title__container.main {
    margin: 0 4rem 0 0;
  }

  .about__content {
    margin: 0 1rem 1rem 0;
  }

  .about.main{
    margin-left: 5rem;
  }

  .about__content__container {
    width: 12rem;
    gap: 0.5rem;
    margin: 0px -4rem 0 2rem
  }

}
